@charset "UTF-8";

* {
   height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #78d5d7, #2911fb);
}

main {
    border-radius: 10px;
    background-color: #fffbfe;
    box-shadow: 5px 5px 15px #110772;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #113e61;
    text-align: center;
    text-shadow: 1px 1px 0 #061826;
    ;
}

h2 {
    color: #0d3553;
}

p {
    text-align: justify;
}